*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid {
display: grid;
width: 600px;
height: 600px;
margin: 2rem auto;
border: 1px solid black;
background-color: white;
border-radius: 2px;
}
button{
    scale: 200%;
}
button:hover{
    cursor: pointer;
}
.grid-pixel{
    border: 1px solid black;
}
body{
    background-color: rgba(255, 0, 0, 0.397);
    text-align: center;
}